{% extends 'receipts/base.html' %}

{% block content %}
<nav>
    <li>
        <a href="{% url 'create_account' %}">Create account</a>
    </li>
<nav>
<main>
    <table>
        <thread>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thread>
        <tbody>
            {% for item in account_list%}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.number}}</td>
                <td>{{item.receipts.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content%}