<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipts n' stuff</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_anonymous %}
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">Create receipt</a>
                </li>
                <li>
                    <a href="{% url 'home' %}">Your receipts</a>
                </li>
                <li>
                    <a href="{% url 'list_categories' %}">Your expense categories</a>
                </li>
                <li>
                    <a href="{% url 'list_accounts' %}">Your accounts</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content%}
    {% endblock content%}
</body>
</html>